[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "crossguid"]
	path = crossguid
	url = https://github.com/graeme-hill/crossguid
