[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "crossguid"]
	path = crossguid
	url = https://github.com/smolBlackCat/crossguids
[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
