/cmake-build-debug-visual-studio/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-release-visual-studio/
/OsmiumGL/cmake-build-release/
/OsmiumGL/cmake-build-debug/
/OsmiumGL/cmake-build-debug-visual-studio/
/OsmiumGL/cmake-build-release-visual-studio/
